* {
    padding: 0;
    margin: 0;
    font-family: "MochiyPopOne-Regular";
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
@font-face {
    font-family: "MochiyPopOne-Regular";
    font-style: normal;
    font-weight: normal;
    src: url(/src/assets/fonts/MochiyPopOne-Regular.woff) format("woff");
}
